.cookie
*.dump
*.log
*.beam
.eunit
*.do_not_commit
*.iml
.idea
ebin/*.app
doc/*.html
doc/*.png
doc/*.css
doc/edoc-info
deps/*
.project
.settings
priv/*
test/*
!test/*.erl
itest/logs/*
itest/config/ct.config
itest/config/interactive.config
