{erl_opts, [
	fail_on_warning,
	debug_info]}.

{cover_enabled, true}.

{clean_files, [
	"erl_crash.dump",
	"*.eunit", "ebin/*",
	"doc/*.html", "doc/*.edoc-info", "doc/*.css", "doc/*.png", "doc/edoc-info",
	"itest/logs/*", "itest/*.beam", "itest/helpers/*.beam",
	"deps/*"
]}.

{eunit_opts,
	[
		verbose,
		{report,
			{
				eunit_surefire,
				[{dir, "."}]
			}
		},
		{dir, "test/eunit"}]}.

{deps,
	[
		{amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git"}}
	]
}.

{deps_dir, "deps"}.

{ct_dir, "itest"}.
{ct_log_dir, "itest/logs"}.
{ct_extra_params, "-args_file itest/config/node.args -pa itest"}.
{ct_use_short_names, true}.
